{% extends 'base.html.twig' %}

{% block title %}{% trans %}events.title{% endtrans %}{% endblock %}

{% block body %}

<div class="ui grid container">
  <div class="column">
    <h1>{% trans %}events.title{% endtrans %}</h1>
    <div id="calendar"></div>
  </div>
</div>

{% endblock %}
