{% extends 'base.html.twig' %}

{% block title %}{% trans %}forgotten.password{% endtrans %}{% endblock %}

{% block body %}

  <div class="ui grid two column centered container stackable">
    <div class="column">
      <h1>{% trans %}forgotten.password{% endtrans %}</h1>
      <form method="post" class="ui form" autocomplete="off">

        <div class="field">
          <label for="email">{% trans %}forgotten.password.email.label{% endtrans %}</label>
          <div class="ui left icon input">
            <input type="email" value="" name="email" id="email" required autofocus>
            <i class="envelope icon"></i>
          </div>
        </div>

        <button class="ui button green" type="submit">
            {% trans %}reset.password{% endtrans %}
        </button>
      </form>
    </div>
  </div>

{% endblock %}
