{% extends 'base.html.twig' %}

{% block title %}{% trans %}forgotten.password.title{% endtrans %}{% endblock %}

{% block body %}

<div class="wrap">
  <form method="post">
    <h1>{% trans %}forgotten.password.title{% endtrans %}</h1>
    <label for="email">{% trans %}forgotten.password.email.label{% endtrans %}</label>
    <input type="email" value="" name="email" id="email" required autofocus>

    <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}forgotten.password.button{% endtrans %}
    </button>
  </form>
</div>

{% endblock %}
