{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" autocomplete="off">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>{% trans %}login.title{% endtrans %}</h1>

    <label for="email">{% trans %}login.email.label{% endtrans %}</label>
    <input type="email" value="{{ last_username }}" name="email" id="email" required autofocus>
    <label for="password">{% trans %}login.password.label{% endtrans %}</label>
    <input type="password" name="password" id="password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}login.button{% endtrans %}
    </button>
</form>

<p><a  href="{{ path('app_forgotten_password') }}">{% trans %}forgotten.password.link{% endtrans %}</a></p>
{% endblock %}
