{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset.password{% endtrans %}{% endblock %}

{% block body %}

  <div class="ui grid two column centered container stackable">
    <div class="column">
      <h1 class="h3 mb-3 font-weight-normal">{% trans %}reset.password{% endtrans %}</h1>

      <form method="post" class="ui form" autocomplete="off">

        <div class="field">
          <label for="inputPassword">{% trans %}login.password.label{% endtrans %}</label>
          <div class="ui left icon input">
            <input type="password" name="password" id="inputPassword" required>
            <i class="lock icon"></i>
          </div>
        </div>

        <input type="hidden" name="token" value="{{ token }}">

        <button class="ui button green" type="submit">
            {% trans %}reset.password{% endtrans %}
        </button>

      </form>
    </div>
  </div>

{% endblock %}
