{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

  <div class="ui grid two column centered container stackable">
    <div class="column">
      <h1>Bonjour&nbsp;!</h1>

      <h2>Bienvenue sur <em>Guild-O-Tron</em></h2>

      <h3>L'outil de guildes pour les guildes, du Bus Magique</h3>

      <p>Nous vous proposons de tester notre futur outil à l'attention des guildes et de leurs membres. Cet espace est en développement et en phase de test. Les fonctionnalités sont livrées au fur et à mesure. Nous vous invitons à vous inscrire pour les découvrir.</p>

      <p>Notre objectif est de faire de ce site un annuaire, pour tout joueur qui chercherait une guilde, mais aussi le couteau suisse pour les membres de ces guildes.</p>

      <p>Nous invitons tout particulièrement les maîtres de guildes (même de guilds banks) à y ajouter leur guilde et de tester les fonctionnalités.</p>

      <p><strong>Sachez que pendant cette phase de développement, la base de données peut être remise à zéro et donc toutes les données qu'elle contient supprimées. Dans ce cas, il suffit de recréer un compte et d'ajouter/paramétrer à nouveau votre/vos guilde(s).</strong></p>

      <h2>Rejoignez notre groupe de testeurs !</h2>

      <p>Rendez-vous sur le Discord du Bus Magique (vous devez être vérifié) puis tapez dans le canal #discussions !guild-o-tron pour obtenir un nouveau rôle et débloquer l'accès au canal #guild-o-tron dans lequel est publié les informations utiles.</p>

      <h2>Signaler un bug</h2>

      <p>Vous pouvez signaler un bug sur Discord, mais nous préférons privilégier l'utilisation du lien "BUG" en bleu dans le menu, pour pouvoir suivre avec plus d'efficacité tous les signalements.</p>

    </div>
  </div>

{% endblock %}
