  <div id="create-your-own">
    <div class="ui grid two column centered container stackable">
      <div class="column center aligned">
        <div class="ui piled segment">
          <h4>{% trans %}create.your.own.title{% endtrans %}</h4>
          <p>{% trans %}create.your.own.text{% endtrans %}</p>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('guilds_add') }}" class="ui button green">{% trans %}guilds.add.button{% endtrans %}</a>
          {% else %}
            <a href="{{ path('app_register') }}" class="ui button green">{% trans %}menu.register{% endtrans %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
