$color: lightgray;

$junk: #AAA !important;
$basic: #000 !important;
$fine: #62A4DA !important;
$masterwork: #1a9306 !important;
$rare: #fcd00b !important;
$exotic: #ffa405 !important;
$ascended: #fb3e8d !important;
$legendary: #4C139D !important;
