@import "variables";

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  color: #444;
  padding-top: 5.5em;
  // line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .title, .cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 {
  font-family: 'PT Serif', serif;

  small {
    opacity: .55;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ddd;

  $h: 2.5em;

  height: $h;
  line-height: $h;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

.currency {
  white-space:nowrap;

  > span {
    margin-right: .25em;
    padding-right: calc(20px + .25em);

    &:last-of-type {
      margin-right: 0;
    }

    &.po {
      background: url('../img/po.png') no-repeat center right;
    }

    &.pa {
      background: url('../img/pa.png') no-repeat center right;
    }

    &.pc {
      background: url('../img/pc.png') no-repeat center right;
    }
  }
}

.item {
  &.border {
    &.rarity-Junk { border-color: $junk; }
    &.rarity-Basic { border-color: $basic; }
    &.rarity-Fine { border-color: $fine; }
    &.rarity-Masterwork { border-color: $masterwork; }
    &.rarity-Rare { border-color: $rare; }
    &.rarity-Exotic { border-color: $exotic; }
    &.rarity-Ascended { border-color: $ascended; }
    &.rarity-Legendary { border-color: $legendary; }
  }

  &.rarity-Junk { color: $junk; }
  &.rarity-Basic { color: $basic; }
  &.rarity-Fine { color: $fine; }
  &.rarity-Masterwork { color: $masterwork; }
  &.rarity-Rare { color: $rare; }
  &.rarity-Exotic { color: $exotic; }
  &.rarity-Ascended { color: $ascended; }
  &.rarity-Legendary { color: $legendary; }
}

#guild-logs-marquee {
  position: fixed;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
}

.flash-message {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 9999;

  > div {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
    text-align: center;
    color: #fff;
    position: relative;
    box-sizing: border-box;

    $green: #27ae60;
    $red: #c0392b;
    $blue: #2980b9;
    $orange: #f39c12;

    &.flash-danger {
      background: $red;
    }

    &.flash-success {
      background: $green;
    }

    &.flash-info {
      background: $blue;
    }

    &.flash-warning {
      background: $orange;
    }

    .flash-close {
      position: absolute;
      top: 0;
      right: 0;
      color: inherit;
      text-decoration: none;
      font-size: 1.5em;
      line-height: 1;
      padding: 0 .25em;
    }
  }
}

.site-title {
  font-weight: bold;
}

.card .image {
  background: url('../img/guild-header-bg.jpg') no-repeat center center !important;
  background-size: cover;

}

.card .image .emblem {
  margin: 1em auto;
  width: 128px;
}

.card .image .emblem img {
  width: 100%;
  height: auto;
  display: block;
}

.mt1em {
  margin-top: 1em !important;
}

footer {
  background: #eee;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 5em;
}

.ui.button.twitch {
  $color: #6441a5;

  background-color: $color;
  color: #fff;

  &:hover, &:active {
    background-color: darken($color, 5%);
  }
}

.ui.button.discord {
  $color: #7289da;

  background-color: #7289da;
  color: #fff;

  &:hover, &:active {
    background-color: darken($color, 5%);
  }
}

.field.datetime {
  > .dropdown {
    > div {
      display: inline-block;

      &:last-of-type {
        margin-left: 1em;

        .ui.dropdown:last-of-type {
          margin-left: .25em;
        }
      }
    }
  }
  .ui.dropdown {
    min-width: auto;
    margin-right: .25em;
  }
}

#guild-header {
  margin-top:-1.55em;
  background: url('../img/guild-header-bg.jpg') no-repeat bottom center;
  background-size: cover;
  padding-top: 3.5em;
  padding-bottom: 5em;

  .guild-description {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
  }

}

#guild-menu {
  margin-top: -2.5em;
  z-index: 9;
  position: relative;
}

.guild-stash {
  $s: 64px;

  max-width: 740px;
  margin: 0 auto 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    display: block;
    width: $s;
    margin: 3px;
    position: relative;
    background: none;
    margin: 5px;

    img {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
      border-radius: 4px;
    }

    .item.empty {
      width: 100%;
      height: $s;
      background: #eee;
      display: block;
      border-radius: 4px;
    }
  }

}

#guild-treasury {
  $s: 64px;
  $p: 12px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 815px;
    margin: 0 auto 1em;

    li {
      display: block;
      width: $s;
      margin: 3px;
      position: relative;
      background: none;
      margin: 5px;

      img {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: block;
        position: relative;
        border-radius: 4px;
      }

      .progress {
        margin-top: .25em;

        .bar {
          min-width: 0;
        }
      }

      &[data-complete="0"] {
        .bar {
          width: 100% !important;
        }
      }

      &[data-complete="100"] {
        opacity: .33;

        .progress {
          .label {
            opacity: 0;
          }
        }
      }
    }
  }

}

#guild-upgrades {
  .upgrade {
    margin-top: 5em;

    &:first-of-type {
      margin-top: 0;
    }

    .segment.tertiary {
      margin-bottom: .5em;
    }

    .feed {
      .header {
        font-size: 1.5em;
        font-family: 'PT Serif', serif;
        font-weight: bold;
        margin-bottom: .33em;
        width: 90%;
      }
      .description {
        width: 90%;
      }
    }
  }

  .ui.grid {
    margin-top: .5em;
    margin-left: -.5em;
    margin-right: -.5em;

    > .column {
      padding: .5em !important;

      img {
        border-radius: 3px;
      }

      .progress {
        .bar {
          min-width: 0;
        }

        &.error {
          .bar {
            width: 100% !important;
          }
        }
      }
    }
  }

  .upgrades {
    img {
      width: 20px;
    }
  }

}


@mixin mask() {
  content: '';
  display:block;
  height: 170px;
  width: 100%;
  background: url('../img/mask.png') no-repeat center center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin imask() {
  @include mask();
  transform: rotate(180deg);
  bottom: initial;
  top: 0;
}

#guild-preview {
  padding-top: 3em;
  padding-bottom: 3em;

  .progress {
    .bar {
      min-width: 0;
    }
  }
}

#guild-introduction {
  margin-top: -2.05em;
  font-size: 1.2em;
  padding: 3em 2em calc(3em + 170px);
  position: relative;
  background: lighten( $primary, 15%);

  img {
    max-width: 100%;
    height: auto;
  }

  &:after {
    @include mask();
  }
}

#guild-introduction + #guild-preview {
  padding-top: 0;
}

#guild-chart {
  padding: calc(3em + 170px) 2em;
  background: lighten( $primary, 15%);
  position: relative;
  margin-top: -3em;

  &:before {
    @include imask();
  }

  &:after {
    @include mask();
  }
}

#guild-event {
  .ui.list {
    .icon {
      width: 2em;
    }
  }
}

#guild-raids {
  .wing, .raid {
    font-weight: bold;
  }
}
