@import "normalize";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  color: #444;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'PT Serif', serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  padding: .5em 0em;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: 1;
  line-height: 1;
  padding: .25em .5em;
  border: 2px solid #eee;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: 0;
    border-color: #ccc;
  }
}

input[type="checkbox"] {
  width: auto;
}

button {
  margin-top: 1em;
  cursor: pointer;
  padding: .5em;
  width: auto;
}


.marquee {
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ddd;

  $h: 2.5em;

  height: $h;
  line-height: $h;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

#guild-logs {
  li {
    .date {
      font-weight: bold;
      font-style: italic;
      background: #ddd;
      font-size: .8em;
      padding: .25em .5em;
      letter-spacing: .1em;
    }

    .item, .upgrade {
      font-weight: bold;
    }
  }
}

#guild-stash {
  $s: 64px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 700px;

    li {
      display: block;
      width: $s;
      height: $s;
      background: #eee;
      margin: 3px;

      position: relative;

      span {
        position: absolute;
        width: $s;
        height: $s;
        display: block;
        top: 0;
        box-sizing: border-box;
        z-index: 99;

        &.item {
          border: 2px solid #cacaca;
          z-index: 9;
        }

        &.count {
          padding: .25em .5em;
          text-align: right;
          color: #fea;
          text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000;
        }
      }

      img {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: block;
        position: relative;
      }
    }
  }
}


.currency {
  white-space:nowrap;

  > span {
    margin-right: .5em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.item {
  &.border {
    &.rarity-Junk { border-color: $junk; }
    &.rarity-Basic { border-color: $basic; }
    &.rarity-Fine { border-color: $fine; }
    &.rarity-Masterwork { border-color: $masterwork; }
    &.rarity-Rare { border-color: $rare; }
    &.rarity-Exotic { border-color: $exotic; }
    &.rarity-Ascended { border-color: $ascended; }
    &.rarity-Legendary { border-color: $legendary; }
  }

  &.rarity-Junk { color: $junk; }
  &.rarity-Basic { color: $basic; }
  &.rarity-Fine { color: $fine; }
  &.rarity-Masterwork { color: $masterwork; }
  &.rarity-Rare { color: $rare; }
  &.rarity-Exotic { color: $exotic; }
  &.rarity-Ascended { color: $ascended; }
  &.rarity-Legendary { color: $legendary; }
}

header {
  border-top: 1em solid #f5cd79;
  height: 2.5em;
  border-bottom: 2px solid #ecf0f1;

  .container {
    display: flex;
    justify-content: space-between;
  }

  #logo {
    margin-top: -1.5em;
    height: 5em;
    display: flex;

    .site-title {
      line-height: 3.5em;
      font-size: 1.5em;
      font-weight: bold;
      font-family: 'PT Serif', serif;
      color: darken(#f5cd79, 33%);
    }

    img {
      width: 100%;
      height: auto;
      width: 5em;
    }
  }

  nav {
    height: 2.5em;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 2.5em;
    line-height: 2.5em;

    li {
      display: inline-block;
      padding: 0 .75em;

      &.red {
        color: #e74c3c;
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8em;
        color: inherit;
      }
    }
  }
}
