{% if logs %}
  <div id="guild-logs-marquee" class="marquee" data-pauseOnHover="false" data-speed="150">
    <ul id="guild-logs">
      {% for log in logs %}
        {% if log.getData().type != 'motd' %}
          <li>{% include 'guild/_log.html.twig' with {'log': log} %}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% else %}
  <p>No logs.</p>
{% endif %}
