<h2>Members</h2>

{% if members %}
  <table cellpadding="5" cellspacing="0" border="1" bordercolor="#ddd">
    <thead>
      <tr>
        <th>User</th>
        <th>Rank</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members.members %}
      <tr>
        <td>{{member.name}}</td>
        <td>{{member.rank}}</td>
        <td>{{member.joined|date('d/m/Y')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No members.</p>
{% endif %}
