<h2>{% trans %}guild.members.title{% endtrans %}</h2>

{% if members %}
  <table cellpadding="5" cellspacing="0" border="1" bordercolor="#ddd">
    <thead>
      <tr>
        <th>{% trans %}guild.members.user{% endtrans %}</th>
        <th>{% trans %}guild.members.rank{% endtrans %}</th>
        <th>{% trans %}guild.members.joined{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members.members %}
      <tr>
        <td>{{member.name|anonymize}}</td>
        <td>{{member.rank}}</td>
        <td>{{member.joined|date('d/m/Y')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>{% trans %}guild.members.any{% endtrans %}</p>
{% endif %}
