{% extends 'base.html.twig' %}

{% block title %}{{guild.name}}!{% endblock %}

{% block body %}
  <h1><small>[{{guild.tag}}]</small> {{guild.name}}</h1>

  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if isMember %}
      <p>You're a member of that guild.</p>
    {% else %}
      <p>You're <u>not</u> a member of that guild.</p>
    {% endif %}
  {% endif %}

  {% include 'guild/_treasury.html.twig' with {'treasury': treasury} %}
  {% include 'guild/_logs.html.twig' with {'logs': logs} %}
  {% include 'guild/_stash.html.twig' with {'stash': stash} %}
  {% include 'guild/_members.html.twig' with {'members': members} %}

{% endblock %}
